/*animation*/
#c {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
}
/*button*/
html, body { height: 100%; }
body {
    margin: 0;
    background: radial-gradient(#666, #222);
}
.button {
    position: absolute;
    left:50%; top:50%;
    width:140px; height:140px;
    margin:-70px 0 0 -70px;
    cursor: pointer;
}
.compass {
    position: absolute;
    width:100%; height:100%;
    background: #444;
    border-radius: 0 50% 50% 50%;
    border: 10px solid white;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    border-right-color: #00A9DF ;
    border-bottom-color: #00A9DF ;
    transition: border-radius .2s;
    box-sizing: border-box;
}
.button:hover .compass {
    border-radius: 50%;
}
.msg {
    position: absolute;
    width:100%; height:100%;
    line-height: 140px;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
/*Info Hover*/
html, body {
  background: #333;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.svg-wrapper {
      height: 40px;
    margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
      border-bottom: 0.5px solid #00A9DF ;
    width: 150px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8 ;
}

.text {
    color: #fff;
    font-family: 'Helvetica';
    letter-spacing: 8px;
    line-height: 46px;
    position: relative;
    top: -48px;
    font-size: 20px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
/*the div*/
.infoDiv {
    position: relative;
    height: 14px;
    top: -35px;
    width: 320px;
    float: right;
}
/*tooltip*/
#tooltip {
    position: relative;
        top: -55px;
    right: -73px;
    width: 285px;
    height: 100px;
    float: right;
    border: 1px solid;
}

/* chat page the form*/
@import url(https://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop {
	/*background: #151515;*/
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.webdesigntuts-workshop:before,
.webdesigntuts-workshop:after {
	content: '';
	display: block;	
	/*height: 1px;*/
	left: 50%;
	margin: 0 0 0 -400px;
	position: absolute;
	width: 800px;
}

.webdesigntuts-workshop:before {
	background: #444;
	background: linear-gradient(left, #151515, #444, #151515);
	top: 192px;
}

.webdesigntuts-workshop:after {
	background: #000;
	background: linear-gradient(left, #151515, #000, #151515);	
	top: 191px;
}

.webdesigntuts-workshop form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	/*border: 1px solid #000;*/
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	margin: 150px auto 0;
	/*padding: 20px;*/
	position: relative;
	z-index: 1;
}

.webdesigntuts-workshop input {
	background: #222;	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	/*box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;*/
	color: #efe;
	outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #efe;
}

.webdesigntuts-workshop button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 37px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #00A9DF;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #00A9DF;
		box-shadow: 0 0 5px rgba(0,169,223,.2), inset 0 0 5px rgba(0,169,223,.1), 0 0px 0 #000;
    }	
    100% {
		border-color: #00A9DF;
		box-shadow: 0 0 50px rgba(0,169,223,.6), inset 0 0 10px rgba(0,169,223,.4), 0 0px 0 #000;
    }
}